# Your Telegram Bot Token from @BotFather
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"

# Comma-separated list of Telegram User IDs authorized to use the bot
AUTHORIZED_USER_IDS="USER_ID1,USER_ID2"

# (Optional) Override host root path for testing. In k8s this is typically /host.
# For local development where you don't want the bot to actually run `chroot`, you can leave this empty or set it to `.`
HOST_ROOT=""
